# Visual Studio 임시 파일 및 폴더
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# 빌드 관련 파일 및 폴더
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
*.pdb
*.pch
*.idb
*.lib
*.obj
*.exp
*.exe
*.dll

# 기타
node_modules/
.DS_Store